<!-- Navigation -->
			<nav class="navigation main-nav">
			
				<a id="resp-menu" class="responsive-menu" href="#"><i class="fa fa-reorder"></i></a>  
				
				<div class="menu-wrapper">
					<ul class="menu">
						<li><a href="/">Home</a></li>
						<li><a href="/#introduction">About Coaching</a></li>
						<li><a href="/#fees">Fees</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="/#emma">About Emma</a></li>
						<li><a href="/copingstrategytraining.html">Coping Strategy Training</a></li>
						<li><a href="/brighterbookings">Book a call</a></li>
						<li><a href="/#contact">Contact</a></li>
					</ul>
				</div>
				
			</nav><!-- .navigation -->